@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --txtBlack: #04111d;
  --txtPrimary: #04111dae;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--txtBlack);
}

p,
span,
label,
a {
  color: var(--txtPrimary);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
